In [1]:
import pandas as pd

# League Only

In [2]:
exalt = pd.read_parquet('./data/compiled_league/league_exalt.parquet')
divine = pd.read_parquet('./data/compiled_league/league_divine.parquet')
mirror = pd.read_parquet('./data/compiled_league/league_mirror.parquet')

In [3]:
exalt.head()

    League       Date          Get        Pay     Value Confidence
0  Sanctum 2022-12-09  Exalted Orb  Chaos Orb  15.54866       High
1  Sanctum 2022-12-10  Exalted Orb  Chaos Orb  11.00000       High
2  Sanctum 2022-12-11  Exalted Orb  Chaos Orb  11.00000       High
3  Sanctum 2022-12-12  Exalted Orb  Chaos Orb  11.00000       High
4  Sanctum 2022-12-13  Exalted Orb  Chaos Orb  11.00000       High

In [4]:
divine.head()

    League       Date         Get        Pay      Value Confidence
0  Sanctum 2022-12-09  Divine Orb  Chaos Orb   33.69445       High
1  Sanctum 2022-12-10  Divine Orb  Chaos Orb   99.61105       High
2  Sanctum 2022-12-11  Divine Orb  Chaos Orb  120.88875       High
3  Sanctum 2022-12-12  Divine Orb  Chaos Orb  144.62969       High
4  Sanctum 2022-12-13  Divine Orb  Chaos Orb  154.00000       High

In [5]:
mirror.head()

    League       Date                 Get        Pay        Value Confidence
0  Sanctum 2022-12-10  Mirror of Kalandra  Chaos Orb   4350.92368        Low
1  Sanctum 2022-12-11  Mirror of Kalandra  Chaos Orb  10374.91439       High
2  Sanctum 2022-12-12  Mirror of Kalandra  Chaos Orb  13186.52103       High
3  Sanctum 2022-12-13  Mirror of Kalandra  Chaos Orb  16668.69032       High
4  Sanctum 2022-12-14  Mirror of Kalandra  Chaos Orb  23203.21279       High

In [6]:
abyss_exalt = exalt[exalt['League'] == 'Abyss']
abyss_divine = divine[divine['League'] == 'Abyss']
abyss_mirror = mirror[mirror['League'] == 'Abyss']

In [7]:
legion_exalt = exalt[exalt['League'] == 'Legion']
legion_divine = divine[divine['League'] == 'Legion']
legion_mirror = mirror[mirror['League'] == 'Legion']

In [8]:
abyss_exalt.head()

     League       Date          Get        Pay     Value Confidence
2100  Abyss 2017-12-09  Exalted Orb  Chaos Orb  26.16644       High
2101  Abyss 2017-12-10  Exalted Orb  Chaos Orb  35.92556       High
2102  Abyss 2017-12-11  Exalted Orb  Chaos Orb  43.57390       High
2103  Abyss 2017-12-12  Exalted Orb  Chaos Orb  47.99698       High
2104  Abyss 2017-12-13  Exalted Orb  Chaos Orb  45.45841       High

In [9]:
abyss_divine.head()

     League       Date         Get        Pay    Value Confidence
2093  Abyss 2017-12-09  Divine Orb  Chaos Orb  4.00000       High
2094  Abyss 2017-12-10  Divine Orb  Chaos Orb  4.70687       High
2095  Abyss 2017-12-11  Divine Orb  Chaos Orb  5.58222       High
2096  Abyss 2017-12-12  Divine Orb  Chaos Orb  6.74714       High
2097  Abyss 2017-12-13  Divine Orb  Chaos Orb  6.98276       High

In [10]:
abyss_mirror.head()

     League       Date                 Get        Pay       Value Confidence
1557  Abyss 2017-12-10  Mirror of Kalandra  Chaos Orb  3231.21992        Low
1558  Abyss 2017-12-11  Mirror of Kalandra  Chaos Orb  3329.72176     Medium
1559  Abyss 2017-12-12  Mirror of Kalandra  Chaos Orb  2898.88263       High
1560  Abyss 2017-12-13  Mirror of Kalandra  Chaos Orb  2834.80754       High
1561  Abyss 2017-12-14  Mirror of Kalandra  Chaos Orb  2714.96433       High

In [11]:
legion_exalt.head()

      League       Date          Get        Pay     Value Confidence
1048  Legion 2019-06-07  Exalted Orb  Chaos Orb  32.55521        Low
1049  Legion 2019-06-08  Exalted Orb  Chaos Orb  57.00000       High
1050  Legion 2019-06-09  Exalted Orb  Chaos Orb  69.00000       High
1051  Legion 2019-06-10  Exalted Orb  Chaos Orb  83.00000       High
1052  Legion 2019-06-11  Exalted Orb  Chaos Orb  89.00000       High

In [12]:
legion_divine.head()

      League       Date         Get        Pay     Value Confidence
1045  Legion 2019-06-07  Divine Orb  Chaos Orb  10.00000        Low
1046  Legion 2019-06-08  Divine Orb  Chaos Orb   5.00000       High
1047  Legion 2019-06-09  Divine Orb  Chaos Orb   5.00000       High
1048  Legion 2019-06-10  Divine Orb  Chaos Orb   6.98939       High
1049  Legion 2019-06-11  Divine Orb  Chaos Orb   7.00000       High

In [13]:
legion_mirror.head()

     League       Date                 Get        Pay       Value Confidence
846  Legion 2019-06-08  Mirror of Kalandra  Chaos Orb  4537.76836        Low
847  Legion 2019-06-09  Mirror of Kalandra  Chaos Orb  4358.23795       High
848  Legion 2019-06-10  Mirror of Kalandra  Chaos Orb  4359.89299       High
849  Legion 2019-06-11  Mirror of Kalandra  Chaos Orb  5369.00000       High
850  Legion 2019-06-12  Mirror of Kalandra  Chaos Orb  5593.41463       High

In [ ]:
futures, options

In [ ]:
GLM