In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import os

import sys
sys.path.append("..") # go to parent dir

from utils.currency_df import league_df, trade_ratio, day_count

futures, options

GLM

# League Only

In [2]:
df = league_df()

df.head()

     League       Date          Get        Pay     Value Confidence
0  Standard 2022-12-09  Exalted Orb  Chaos Orb  23.68423       High
1  Standard 2022-12-10  Exalted Orb  Chaos Orb  23.50797       High
2  Standard 2022-12-11  Exalted Orb  Chaos Orb  23.16688       High
3  Standard 2022-12-12  Exalted Orb  Chaos Orb  23.09729       High
4  Standard 2022-12-13  Exalted Orb  Chaos Orb  23.95626       High

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'E-C']['Date'],
    df[df['Ratio Label'] == 'E-C']['Ratio'],
)
plt.plot(
    df[df['Ratio Label'] == 'E-C']['Date'],
    df[df['Ratio Label'] == 'C-E']['Ratio'],
)

plt.title('Chaos to Exalt Ratio in Abyss')
plt.show;

In [ ]:
df.info()

In [ ]:
day_count(df)

df

In [ ]:
df[['Day', 'Ratio Label', 'Ratio']]

In [ ]:
df['Ratio Label'].value_counts()

In [ ]:
path = '../data/leagues/'

plt.figure(figsize=(12,5))

for league in os.listdir(path):
    df = league_df(league, 'exalt')
    df = trade_ratio(df)
    df = day_count(df)
    plt.plot(
        df[df['Ratio Label'] == 'E-C']['Day'],
        df[df['Ratio Label'] == 'E-C']['Ratio'],
        label = f'{league} E-C',
    )
    plt.plot(
        df[df['Ratio Label'] == 'C-E']['Day'],
        df[df['Ratio Label'] == 'C-E']['Ratio'],
        label = f'{league} C-E',
    )

plt.title('Chaos to Exalt Ratio in all leagues')
plt.legend()
plt.show;

In [ ]:
path = '../data/leagues/'

plt.figure(figsize=(12,5))

for league in os.listdir(path):
    df = league_df(league, 'divine')
    df = trade_ratio(df)
    df = day_count(df)
    plt.plot(
        df[df['Ratio Label'] == 'D-C']['Day'],
        df[df['Ratio Label'] == 'D-C']['Ratio'],
        label = f'{league} D-C',
    )
    plt.plot(
        df[df['Ratio Label'] == 'C-D']['Day'],
        df[df['Ratio Label'] == 'C-D']['Ratio'],
        label = f'{league} C-D',
    )

plt.title('Chaos to Divine Ratio in all leagues')
plt.legend()
plt.show;

In [ ]:
path = '../data/leagues/'

plt.figure(figsize=(12,5))

for league in os.listdir(path):
    df = league_df(league, 'mirror')
    if df.empty:
        continue
    df = trade_ratio(df)
    df = day_count(df)
    print('='*30)
    print(league)
    print(df['Ratio'].max())
    plt.plot(
        df[df['Ratio Label'] == 'M-C']['Day'],
        df[df['Ratio Label'] == 'M-C']['Ratio'],
        label = f'{league} M-C',
    )
    plt.plot(
        df[df['Ratio Label'] == 'C-M']['Day'],
        df[df['Ratio Label'] == 'C-M']['Ratio'],
        label = f'{league} C-M',
    )

plt.title('Chaos to Mirror Ratio in all leagues')
plt.legend()
plt.show;

In [ ]:
df = league_df('Archnemesis', 'mirror')
df = trade_ratio(df)
df = day_count(df)
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'M-C']['Date'],
    df[df['Ratio Label'] == 'M-C']['Ratio'],
)
plt.plot(
    df[df['Ratio Label'] == 'C-M']['Date'],
    df[df['Ratio Label'] == 'C-M']['Ratio'],
)
 
plt.title('Chaos to Mirror Ratio in Archnemesis')
plt.show;

In [ ]:
df = league_df('Legacy', 'mirror')

df.head()

In [ ]:
df = league_df(currency='exalt')

df.head()

In [ ]:
df = trade_ratio(df)
df = df.sort_values('Date')

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'E-C']['Date'],
    df[df['Ratio Label'] == 'E-C']['Ratio'],
)
plt.plot(
    df[df['Ratio Label'] == 'C-E']['Date'],
    df[df['Ratio Label'] == 'C-E']['Ratio'],
)

plt.title('Chaos to Exalt Ratio in Standard')
plt.show;

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'E-C']['Date'],
    df[df['Ratio Label'] == 'E-C']['Ratio'].diff(),
)
plt.plot(
    df[df['Ratio Label'] == 'C-E']['Date'],
    df[df['Ratio Label'] == 'C-E']['Ratio'].diff(),
)

plt.title('Chaos to Exalt Ratio Diff in Standard')
plt.show;

In [ ]:
df = league_df(currency='divine')

df.head()

In [ ]:
df = trade_ratio(df)
df = df.sort_values('Date')

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'D-C']['Date'],
    df[df['Ratio Label'] == 'D-C']['Ratio'],
)
plt.plot(
    df[df['Ratio Label'] == 'C-D']['Date'],
    df[df['Ratio Label'] == 'C-D']['Ratio'],
)

plt.title('Chaos to Divine Ratio in Standard')
plt.show;

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'D-C']['Date'],
    df[df['Ratio Label'] == 'D-C']['Ratio'].diff(),
)
plt.plot(
    df[df['Ratio Label'] == 'C-D']['Date'],
    df[df['Ratio Label'] == 'C-D']['Ratio'].diff(),
)

plt.title('Chaos to Divine Ratio Diff in Standard')
plt.show;

In [ ]:
df = league_df(currency='mirror')

df.head()

In [ ]:
df = trade_ratio(df)
df = df.sort_values('Date')

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'M-C']['Date'],
    df[df['Ratio Label'] == 'M-C']['Ratio'],
)
plt.plot(
    df[df['Ratio Label'] == 'C-M']['Date'],
    df[df['Ratio Label'] == 'C-M']['Ratio'],
)

plt.title('Chaos to Mirror Ratio in Standard')
plt.show;

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(
    df[df['Ratio Label'] == 'M-C']['Date'],
    df[df['Ratio Label'] == 'M-C']['Ratio'].diff(),
)
plt.plot(
    df[df['Ratio Label'] == 'C-M']['Date'],
    df[df['Ratio Label'] == 'C-M']['Ratio'].diff(),
)

plt.title('Chaos to Mirror Ratio Diff in Standard')
plt.show;